body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Vazir.eot');
  src: url('assets/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Vazir.woff2') format('woff2'),
  url('assets/fonts/Vazir.woff') format('woff'),
  url('assets/fonts/Vazir.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/Vazir-Bold.eot');
  src: url('assets/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Vazir-Bold.woff2') format('woff2'),
  url('assets/fonts/Vazir-Bold.woff') format('woff'),
  url('assets/fonts/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  src: url('assets/fonts/iran_sans.ttf');
}

@font-face {
  font-family: "BArshia";
  src: url('assets/fonts/BArshia.ttf');
}